//import all of my css variables
@import '_vars';

//import media queries
@import '_mediaqueries';


//General
h3, p, a {
    font-family: $main-font;
    color: $black;
}

.hidden {
	display: none;
}


//Hamburger Menu

.hamburger {
    position: fixed;
    width: 50px;
    height: 45px;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.hamburger div {
    position: relative;
    width: 75%;
    height: 2px;
    background-color: #5E7EA7;
    margin-top: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
  
#toggle {
    display: none;
}
  
//hamburger animation
#toggle:checked + .hamburger .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
}
  
#toggle:checked + .hamburger .middle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -2.02px;
}
  
#toggle:checked + .hamburger .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
}
  
#toggle:checked + .hamburger + .nav {
    top: 0;
}
  
//menu style
.nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(50, 53, 55, 0.90);
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.nav .navWrapper {
    position: relative;
    overflow-y: auto;
    height: 100vh;
}
  
nav {
    height: 100%;
    text-align: center;
    margin-top: 25%;
}

.nav li {
    margin-bottom: 15%;
}

@media (min-width: 600px) {

    nav {
        margin-top: 20%;
    }

    .nav li {
        margin-bottom: 15%;
    }
}

@media (min-width: 800px) {
    nav {
        margin-top: 15%;
    }

    .nav li {
        margin-bottom: 5%;
    } 
}
  
.nav a {
    width: 100%;
    color: $white;
    opacity: 0;
    text-decoration: none;
    font-size: 2.3em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  
.nav a:hover {
    color:$light-color;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  
.nav a:first-child {
    margin-top: 0;
}
  
// Dropdown Animation 
#toggle:checked + .hamburger + .nav .navWrapper nav a {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
}


//header
.sectionHeading {
    width: 30%;
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 10%;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
#face {
    grid-column: 2/3;
    width: 90%;
    margin-top: 55%;
    justify-self: center;
}
  
#lineHeader {
    position: absolute;
    top: 28%;
}
  
#intro {
    grid-column: 1/2;
    margin-top: 40%;
    margin-left: 20%;
}
  
#name {
    color: #5E7EA7;
    font-size: 1.8em;
}
  
.role {
    padding-top: 2%;
    line-height: 1.2em;
    font-size: 0.5em;
}


@media (min-width: 600px) {
    #name {
        font-size: 2.8em;
    }
    
    .role {
        font-size: 1.5em;
    }

    #face {
        width: 70%;
        margin-top: 35%;
        justify-self: center;
    }

    #intro {
        margin-top: 20%;
        margin-left: 20%;
    }

    #lineHeader {
        top: 30%;
    }
}

@media (min-width: 800px) {
    #header {
        margin: 0 auto;
      }

    #face {
        width: 60%;
        margin-top: 25%;
        justify-self: center;
    }

    #intro {
        margin-top: 15%;
    }

    #lineHeader {
        top: 35%;
    }
}
//About 

#about {
    padding-top: 20%;
}

#aboutText {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    padding-top: 5%;
}

#aboutIcons{
    text-align: center;
    margin-bottom: 5%;
}

#aboutIcons img {
    width: 5em;
    margin-left: 4%;
    margin-right: 4%;
}

@media (min-width: 600px){
    #aboutIcons img {
        width: 9em;
    } 
}


//portfolio

#portfolio {
    display: grid;
    padding-top: 20%;
    color: $white;
}

.item {
    margin: 5% 0 20% 0;
    text-align: center;
}

.title {
    color: $black;
    margin-top: 2%;
    text-align: left;
    margin-left: 12%;
}

.number {
    color: $dark-color;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 2%;
    text-align: left;
    margin-left: 12%;
}


@media (min-width: 600px) {
    #portfolio {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

//video

#videoReel {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

i {
    color: $light-color;
    font-size: 3em;
    margin-left: 35%;
    margin-top: 5%;
}


//contact

#contact {
    display: grid;
    padding-top: 20%;
}

#contactLine {
    margin-top:2%;
}

#contactText {
   grid-row: 3/4;
   margin: 0% 20% 5% 20%;
}

#contactText p {
    padding-bottom: 10%;
}

#contactForm {
    grid-row: 4/5;
    text-align: right;
    margin: 0% 24% 5% 0;
}

label {
    color: $dark-color;
    font-family: $main-font;
    font-weight: bold;
}

input, textarea {
    width: 70%;
    border: none;
    background-color: $light-color;
    height: 3em;
    margin-bottom: 5%;
    border-radius:0.2em;
    padding-left: 1%;
    color: $black;
    font-family: $main-font;
}

textarea {
    height: 7em;
    border-radius:0.2em;
    color: $white;
}

#submitBtn {
    width: 20%;
    background-color: $dark-color;
    color: $white;
    border-radius:0.2em;
    margin-right: 25%;
}

@media (min-width: 600px) {
    #contact {
        grid-template-columns: 1fr 1fr;
    }

    #contactLine {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    #contactText {
       grid-column: 1/2;
       grid-row: 3/4;
    }
    
    #contactText p {
        padding-bottom: 10%;
    }
    
    #contactForm {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-right: 20%;
    }
}

//Footer

#copyright {
    text-align: center;
    margin: 2%;
}