//import all of my css variables
@import '_vars';

//import media queries
@import '_mediaqueries';


//----------------------------------General
// html{
//     scroll-behavior: smooth;
// }

body {
    overflow-x: hidden;
}

h3, p, a {
    font-family: $main-font;
    color: $black;
}

.hidden {
	display: none;
}

@media (min-width: 800px) {

    .wrapper{
        display:grid;
        max-width: 1300px;
        margin:0 auto;
    }
    
}
//----------------------------------Hamburger Menu

.hamburger {
    position: fixed;
    width: 50px;
    height: 45px;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.hamburger div {
    position: relative;
    width: 75%;
    height: 3px;
    border-radius: 7px;
    background-color: $dark-color;
    margin-top: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
  
#toggle {
    display: none;
}
  
//hamburger animation
#toggle:checked + .hamburger .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
}
  
#toggle:checked + .hamburger .middle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -2.02px;
}
  
#toggle:checked + .hamburger .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
}
  
#toggle:checked + .hamburger + .nav {
    top: 0;
}
  
//menu style
.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(240, 243, 245, 0.9);
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.nav .navWrapper {
    position: relative;
    height: 100vh;
}
  
nav {
    height: 100%;
    text-align: center;
    margin-top: 25%;
}

.nav li {
    margin-bottom: 15%;
}

@media (min-width: 600px) {

    nav {
        margin-top: 20%;
    }

    .nav li {
        margin-bottom: 15%;
    }
}

@media (min-width: 800px) {
    nav {
        margin-top: 15%;
    }

    .nav li {
        margin-bottom: 5%;
    } 
}
  
.nav a {
    width: 100%;
    color: $light-color;
    opacity: 0;
    text-decoration: none;
    font-size: 2.3em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  
.nav a:hover {
    color:$dark-color;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  
.nav a:first-child {
    margin-top: 0;
}
  
// Dropdown Animation 
#toggle:checked + .hamburger + .nav .navWrapper nav a {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.menuNum {
    color: $dark-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 0.8em;
}


//----------------------------------Header Section Styles
.sectionHeading {
    width: 30%;
    font-size: 1.8em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}

#headingContent {
    display: grid;
}
  
#face {
    grid-column: 2/3;
    width: 90%;
    margin-top: 55%;
    justify-self: center;
}
  
#lineHeader {
    position: absolute;
    top: 35%;
}
  
#intro {
    grid-column: 1/2;
    margin-top: 40%;
    margin-left: 20%;
}
  
#wordmark {
    color: $dark-color;
    font-size: 2em;
}
  
.role {
    padding-top: 2%;
    line-height: 1.2em;
    font-size: 0.9em;
}

#scroll {
    display: none;
    cursor: pointer;
}

@media (min-width: 600px) {
    #wordmark {
        font-size: 2.8em;
    }
    
    .role {
        font-size: 1.5em;
    }

    #headingContent {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    #face {
        width: 70%;
        margin-top: 35%;
        justify-self: center;
    }

    #intro {
        margin-top: 20%;
        margin-left: 20%;
    }

    #lineHeader {
        top: 30%;
    }

    #scroll {
      display: none;
    }
}

@media (min-width: 800px) {
    #header {
        margin: 0 auto;
      }

    #headingContent {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    #face {
        width: 50%;
        margin-top: 25%;
        justify-self: center;
    }

    #intro {
        margin-top: 15%;
    }
    
    .role {
        font-size: 1.2em;
    }

    #lineHeader {
        top: 35%;
    }

    #scroll {
        display: block;
        grid-column: 1/3;
        margin: 0 auto;
        text-align: center;
    }
    
    #scroll i {
        color: $dark-color;
        font-size: 1.5em;
        margin: 0 auto;
    }

    
}
//----------------------------------About Section Styles

#about {
    padding-top: 10%;
}

#aboutText {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10%;
    margin-top: 10%;
}

#skillsIcons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-bottom: 4%;
}

#resume {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 2.5%; 
    background-color: $dark-color;
    border-radius:0.2em;
    cursor: pointer;
    margin-bottom: 5%;
}

#resume a {
    text-decoration: none;
    color: $white;
    font-size: 0.8em;
}

@media (min-width: 600px){
    #skillsIcons{
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        width: 80%;
    }

    #resume {
        width: 15%;
        padding: 2%; 
    }
    
}

@media (min-width: 800px){
    #skillsIcons{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 4%;
    }

    #aboutText {
        margin-bottom: 5%;
        margin-top: 3%;
    }
    
    .icon {
        width: 50%;
        margin:1%;
    }

    #resume {
        width: 12%;
        text-align: center;
        margin: 0 auto;
        padding: 1.5%; 
        background-color: $dark-color;
        border-radius:0.2em;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -ms-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    #resume:hover {
        transform: scale(1.1);
    }
    
    #resume a {
        text-decoration: none;
        color: $white;
        font-size: 1em;
    }
}


//---------------------------------- Portfolio Section Styles

#portfolio {
    padding-top: 10%;
    color: $white;
}

#portfolioSelection {
    margin: 0 auto;
    text-align: center;
}

.item {
    width: 260px;
    margin: 0 auto;
    padding: 5% 0% 20% 0%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.item img:hover {
    transform: scale(1.01);
}


.title {
    color: $black;
    margin-top: 2%;
    justify-items:start;
    text-align: left;
}

.number {
    color: $dark-color;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 2%;
    text-align: left;
}

@media (min-width: 600px) {
    #portfolioSelection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        width: 75%;
    }

}

@media (min-width: 800px) {
    #portfolioSelection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }

    .item {
        margin: 5% 0% 20% 0%;
    }
}

//video

#videoReel {
    display: grid;
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
}

.controls {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top:1%;
}

.controls button {
    border:none;
    outline: none;
    background-color: $white;
}

i {
    color: $dark-color;
    font-size: 2.5em;
    margin-top:5%;
}

#volControl {
    width: 20%;
    vertical-align: top;
    margin-top:14px;
}

#seekSlider {
    width: 35%;
    vertical-align: top;
    margin-top:14px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;   
    background: $light-color;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: $dark-color;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $dark-color;
    cursor: pointer;
}

@media (min-width: 600px){
    #videoReel {
        width: 80%;
    }

    .controls {
        width: 80%;
    }
    #seekSlider {
        width: 50%;
        margin-top:18px;
    }

    #volControl {
        margin-top:18px;
    }

    i {
        font-size: 3em;
    }
}

@media (min-width: 800px){
    #videoReel {
        width: 70%;
    }

    .controls {
        width: 70%;
    }
}

//---------------------------------- Contact Section Styles

#contact {
    padding-top: 10%;
}

#contactLine {
    margin-top:2%;
}

#contactFormSection {
    display:grid;
    // grid-template-columns: 1fr 1fr;
}

#contactText {
   grid-row: 3/4;
   margin: 0% 20% 5% 20%;
}

#location {
    width:20%;
    float:left;
    margin-left:18%;
}

#london {
    float:right;
    margin-right: 20%;
    margin-top: 9%;
}

#contactText p {
    padding-bottom: 10%;
}

#contactForm {
    grid-row: 4/5;
    text-align: right;
    margin: 5% 24% 5% 0;
}

label {
    vertical-align: top;
    color: $dark-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.2em;
}

input, textarea {
    width: 70%;
    border: none;
    background-color: $light-color;
    height: 2em;
    margin-bottom: 5%;
    border-radius:0.2em;
    font-family: $main-font;
    font-size: 1em;
}

textarea {
    vertical-align: top;
    height: 7em;
    border-radius:0.2em;
}

#submitBtn {
    width: 40%;
    background-color: $dark-color;
    color: $white;
    border-radius:0.2em;
    margin-right: 15%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#submitBtn:hover {
    transform: scale(1.05);
}

@media (min-width: 600px) {

    #contactFormSection {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #contactLine {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    #contactText {
       grid-column: 1/2;
       grid-row: 3/4;
    }
    
    #contactText p {
        padding-bottom: 10%;
    }
    
    #contactForm {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-right: 20%;
    }
}

@media (min-width: 800px) {
    #contactForm {
        padding-right: 5%;
    }

    #contactText {
        padding-left: 5%;
     }

     #contactForm {
        margin: 0% 24% 5% 0;
    }

    #london {
        margin-right: 28%;
    }
}

//---------------------------------- Footer Section Styles

#copyright {
    text-align: center;
    margin: 2%;
}


//---------------------------------- Lightbox Styles
.lightbox {
    display:grid;
    position: fixed;
    z-index: 500;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $white;
    pointer-events: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

.closeLightbox:hover,
.closeLightbox:focus {
    color: $light-color;
    text-decoration: none;
}
  
.show-lightbox{
    opacity: 0.98;
    pointer-events: auto;
}
  
.closeLightbox {
    color: $white;
    position: absolute;
    top: 20px;
    right: 25px;
}

#lineLightbox {
    position: absolute;
    top: 4%;
    z-index: -5;
}

#portfolioImage {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 70%;
    margin: 0 auto;
    margin-left:15%;
}

#lightboxText {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top:10%;
    margin: 0 auto;
    width:70%;
}
  
#imageNum {
    color: $dark-color;
    font-size: 2em;
    font-weight: bold;
    text-align:right;
}

#imageName {
    font-size: 2em;
    text-align:right;
}

#imageRole {
    text-align:right;
}

.lightboxTitle {
    text-align:end;
    font-size: 1.5em;
    margin-top: 3%;
    margin-bottom: 1%;
}

#imageDesc {
    text-align:right;
}

@media (min-width: 600px) {
    .lightbox {
        height: 100%;
    }

    .wLightbox {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 8%;
    }

    #lightboxText {
        grid-column: 1/2;
        grid-row: 1/4;
        width: 80%;
    }

    #portfolioImage {
        grid-column: 2/3;
        grid-row: 1/4;
        width: 80%;
        margin-left: 0%;
        margin-right: 20%;
    }
      
    #imageNum {
        font-size: 1.6em;
    }
}

@media (min-width: 800px) {
    .lightbox {
        height: 75vh;
    }

    #lightboxText {
        grid-column: 1/2;
        grid-row: 1/4;
        width: 80%;
        margin-right:10%;
    }

    #portfolioImage {
        grid-column: 2/3;
        grid-row: 1/4;
        float:left;
    }

    .lightbox img {
        position: relative;
        background-color: $white;
        width: 80%;
        margin-top:13%;
        margin-right:20%;
    }
      
    #imageNum {
        color: $dark-color;
        font-size: 2em;
        font-weight: bold;
        text-align:right;
    }
    
    #imageName {
        font-size: 2em;
        text-align:right;
    }
    
    #imageRole {
        text-align:right;
    }
    
    .lightboxTitle {
        text-align:end;
        font-size: 1.6em;
        margin-top: 3%;
        margin-bottom: 1%;
    }
    
    #imageDesc {
        text-align:right;
    }
    
}